body{
    padding: 0px;
    margin: 0px;
    background-color:black;
}
.cover_img{
    width: 100%;
    height: 862px;
    position:absolute;
    margin-top: 0px;
}
.head{
    position: absolute;
    width: 100%;
    height: 862px;
    background: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%);;
    opacity: 2;
    margin-top: 0px;
}
.logo{
float: left;
color: white;
padding-top: 20px;
padding-left: 100px;

}
.logo img{
width: 86px;
height: 44px;
left: 10.42%;
right: 83.61%;
top: 10.71%;
bottom: 10.71%;
}
.options ul{
float: right;
list-style: none;
display: inline-flex;
color: white;
padding-right: 100px;

}
.options ul li{
    width: 70px;
    margin: 15px;
    font-size: 18px;
    
}
.options ul li .MuiSvgIcon-root{
    margin: -5px;
    
    
}
.about p{
color: #fff;
width: 611px;
margin-top: 420px;
margin-left: 151px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
}
.Topic{
    position:absolute;
    
}
.Topic h1{
    color: #fff;
    padding-top: 246px;
    padding-left: 151px;
    font-size: 80px;
    width: 383px;
    height: 96px;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    display: flex;
    align-items: center;
}

.card_1{
    position: absolute;
}
.card_1 .dictionary{
    padding-left: 60px;
    width: 95%;
    padding-top: 602px;
    
}
.card_1 .dictionary .circle{
    float: left;
    margin: 30px 30px 0 30px;
    text-align: center;
    color: #fff;
    border-color: #566573;
    width: 208px;
    height: 208px;
    border-radius: 100%;
    border-style: solid;
    
}

.card_1 .dictionary .circle:hover{
    border-color:#3498DB;
}
.card_1 .dictionary .circle .icons{
    padding-top: 40px;
    margin-bottom: -5px;
}

.card_1 .dictionary .circle .icons img:hover{
    color:#3498DB;
    transform: scale(1.5);
   
}
.card_1 .dictionary .circle p{
    line-height: 8px;
    font-size: 20px;
}
@media(max-width:1100px){
    .card_1 .dictionary .circle{
        margin: 20px 20px 0px 20px;
        width: 158px;
        height: 158px;
    }
    .upcoming a{
        margin-left: -120px;
    }
    .upcoming{
        padding-left: 120px;
        
    }
    .last_section .first{
        margin-top: 1000px;
    }
    .last_section{
        margin-left: 50px;
    }
    .back_end{
        width:0px;
    }
}
.upcoming a{
    padding-top:984px;
    color: #fff;
    width: 587px;
    height: 40px;
    padding-left: 80px;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.upcoming_shows{
    padding-left: 80px;
    margin-top: 60px;
    
}
.view{
    color: #E5C558;
    float: right;
    padding-right: 100px;
    margin-top: -30px;
}
u{
    text-decoration-color: blue;
}
.back_card{
    position: relative;
    width: 248px;
    height: 347px;
    background: linear-gradient(163.41deg, #301A68 0.11%, #234C97 170.69%);
    border-radius: 8px;
    float: left;
    margin-left: 30px;
    margin-bottom: 100px;
}
.front_card{
    width: 248px;
    height: 347px;
    position:relative;
    margin-left: -10px;
    margin-top: 10px;
    background-color:#111229;
    border-radius: 10px;
}
.first_img{
    width: 248px;
}
.prof{
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    height: 15px;
    width: 70px;
    background-color: #E5C558;
    color: #682F26;
    display: flex;
font-family: Nunito;
font-style: normal;
font-weight: 400;
text-align: center;
}
.name_at{
    width: 191px;
height: 10px;
margin-left: 20px;
font-family: Libre Baskerville;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: -20px;
/* identical to box height, or 160% */

display: flex;
align-items: center;

color: #FFFFFF;
}
.info{
    float: left;
    color: blue;
    padding-left: 20px;
}
.arrow{
    float: left;
padding-top: 10px;
padding-left: 10px;
color: blue;
}
.img_logo{
    float: right;
    transform: rotate(90deg);
    margin-right: 10px;
    color: #F53AEF;
}



.last_section{
    color: #fff;
    padding-left: 100px ;
    margin-top: 100px;
    
}
.first{
    font-family: Libre Baskerville;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height:0px;
/* identical to box height, or 125% */


color: #fff;
}
.secound{
    float: right;
    padding-right: 100px;
    margin-top: -50px;
}

.review_img{
float: left;
margin: 10px 20px 10px 10px;
}
.review_about .review_name{
    margin: 10px;
    font-size: 20px;
    padding-top: 10px;
}
.review_about .review_add{
    font-size: 12px;
    margin-top: -5px;
    margin-left: 10px;
    color: #E5C558;
}

.review_text{
width: 280px;
height: 95px;
padding-left: 20px;
font-size: 17px;
padding-top: 10px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
opacity: 0.9;
}
.back_end{
    position: relative;
    width: 300px;
    height: 190px;
    background: linear-gradient(163.41deg, #301A68 0.11%, #234C97 170.69%);
    border-radius: 8px;
    float: left;
    margin-left: 30px;
    margin-bottom: 100px;
    margin-top: 60px;
}
.front_end{
    width: 300px;
    height: 190px;
    position:relative;
    margin-left: -10px;
    margin-top: 10px;
    background-color:#111229;
    border-radius: 10px;
}